body {
    background: #010001;
    color: #fff;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}
.header {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}
.secondary-menu .item-link {
    color: #808080;
}
.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}
.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0;
}
.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 268px;
    margin: auto;
}
.description:after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #fff;
    margin: auto;
    margin-top: 26px;
}
.video {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    height: 700px;
}
.features {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.table {
    margin-bottom: 200px;
}
.table-column {
    width: 300px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}
.text-grey {
    color: #b2b0b2;
}
.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}
.rocket {
    position: absolute;
    max-width: 320px;
    top: 50px;
    right: 0;
    z-index: 99;
}
.footer {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav .item-link {
    font-size: 18px;
    line-height: 21px;
}
.footer .logo {
    margin-bottom: 43px;
    padding-left: 15px;
}
.footer-nav {
    margin-bottom: 28px;
}
.footer-text {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 0;
}
.footer-link {
    color: #808080;
    text-decoration: none;
}
.button {
    color: #fff;
    min-width: 260px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

@media (max-width: 960px) {
    .rocket {
        max-width: 270px;
    }
    .table-column {
        width: 220px;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
        padding-left: 15px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .rocket {
        max-width: 200px;
    }
    .video {
        width: 100%;
    }
    .features {
        padding: 40px 0;
    }
    .table {
        margin-bottom: 80px;
    }
    .table-column {
        width: 180px;
        font-size: 15px;
    }
    .features-text {
        max-width: 350px;
        font-size: 15px;
        line-height: 25px;
    }
    .footer {
        padding: 50px 0;
    }
}
@media (max-width: 576px) {
    .main {
        padding: 40px;
    }
    .rocket {
        position: static;
    }
    .video {
        width: 100%;
    }
    .table {
        margin-bottom: 20px;
    }
    .footer {
        padding: 30px 0;
    }
    .footer-nav .item-link {
        font-size: 14px;
        line-height: 18px;
    }
    .footer-text {
        font-size: 15px;
        line-height: 18px;
    }
}
@media (max-width: 480px) {
    .footer-nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
    .footer-nav .item-link {
        font-size: 12px;
        line-height: 16px;
    }
    .footer-text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
}